</main>
</body>
</html>
<br>

<div class='footer'>
    <img class='footlogo' src="https://imgur.com/35y6zPd.png">
    <div id='footerText'>
        <p>Remote Music Lessons International</p>
        <p>is a service brand of the</p>
        <p>Quezada Company.</p>
        <p>Copyright © 2020.</p>
    </div> 
    <img class='footlogo' src="https://imgur.com/XRV4xc1.png"> 
</div>
