</main>
</body>
</html>
<br>

<div class='footer'>
    <img class='footlogo' src="https://imgur.com/35y6zPd.png">
    <div id='footerText'>
        <p>Remote Music Lessons International is</p>
        <p>a service brand of Quezada Company.</p>
        <p>Copyright © 2020 by Brian Quezada.</p>
    </div> 
    <img class='footlogo' src="https://imgur.com/XRV4xc1.png"> 
</div>
