<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <img src="https://imgur.com/7TB17IX.png">
  <h3>Remote Music Lessons International</h3>
  <nav>
    <a href="/sessions">Home</a>
    <!--<a href="/flights/new">ADD FLIGHT</a>
    <a href="/flights">ALL FLIGHTS</a>-->
    <% if (user) { %>
      <a href="/logout"><i class="material-icons"></i>Log Out</a>
    <% } else { %>
      <a href="/auth/google"><i class="material-icons"></i>Login with Google</a>
    <% } %>
  </nav>
  <main>
