<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/landing.css' />
  </head>
  <body>
      <div>
        <h1>Remote Music Lessons International</h1>
        <p>Remote vocal & instrument lessons, any time, any where</p>
        <% if (user) { %>
          <button onclick="location.href='/logout'" type='button' class='CTA'><i class='material-icons'></i>Log Out</button>
        <% } else { %>
          <button onclick="location.href='/auth/google'" type='button' class="CTA"><i class="material-icons"></i>Login with Google</button>
        <% } %>
        <button>Learn More</button>
      </div>
      <br>
      <p>Learn any instrument or how to sing</p>
      <p>Learn music in any genre or style</p>
      <p>Have the lessons from the comfort and safety of your own home</p>
      <p>Schedule your music lesson anytime according to your schedule</p>
      <p>Schedule your lesson for as long as you want</p>
      <p>Our instructors come from diverse backgrounds and trainings</p>
  </body>
</html>

<%- include('./partials/footer') %>
