<%- include('../partials/header') %>

<p>Are you sure you want to delete this lesson? 
    While nothing stops you from requesting a new 
    lesson, all assignments and progress will be lost, 
    and there is no guarantee that you will be assigned 
    the same instructor.</p>
    <button onclick="location.href='/sessions'" type='button' class='btn'>Go Back</button>
    <br>
    <br>

   
<%- include('../partials/footer') %>